- name: Install Tableau Server RPM
  dnf:
    name: "{{ tableau_rpm_path }}"
    state: present
    disable_gpg_check: true

- name: Ensure Tableau data directory ownership
  file:
    path: "{{ tableau_data_dir }}"
    owner: tableau
    group: tableau
    recurse: true
    state: directory
    mode: '0750'

- name: Initialize TSM (first-time only)
  command: >
    /opt/tableau/tableau_server/packages/scripts.*/initialize-tsm --accepteula
  args:
    creates: /var/opt/tableau/tableau_server/data/tabsvc
