- name: Initialize Tableau Server using tsm
  become: true
  command: >
    /opt/tableau/tableau_server/packages/bin/tsm
    initialize
    --accepteula
    --username {{ tableau_admin_user }}
    --password {{ tableau_admin_password }}
  args:
    creates: /var/opt/tableau/tableau_server/.tsm_initialized

- name: Find tsm binary
  find:
    paths:
      - /usr/bin
      - /opt/tableau/tableau_server/packages
    patterns: tsm
    recurse: yes
    file_type: file
  register: tsm_bin

- name: Fail if tsm not found
  fail:
    msg: "tsm binary not found on system"
  when: tsm_bin.matched == 0

- name: Initialize Tableau Server using tsm
  become: true
  command: >
    {{ tsm_bin.files[0].path }}
    initialize
    --accepteula
    --username {{ tableau_admin_user }}
    --password {{ tableau_admin_password }}
  args:
    creates: /var/opt/tableau/tableau_server/.tsm_initialized

- name: Start Tableau Server
  become: true
  command: >
    {{ tsm_bin.files[0].path }} start
