- name: Initialize Tableau Server using tsm
  become: true
  command: >
    /opt/tableau/tableau_server/packages/bin/tsm
    initialize
    --accepteula
    --username {{ tableau_admin_user }}
    --password {{ tableau_admin_password }}
  args:
    creates: /var/opt/tableau/tableau_server/.tsm_initialized

- name: Start Tableau Server
  command: tsm start
