- name: Find initialize-tsm binary
  find:
    paths: /opt/tableau/tableau_server/packages
    patterns: initialize-tsm
    recurse: yes
    file_type: file
  register: initialize_tsm_bin

- name: Fail if initialize-tsm not found
  fail:
    msg: "initialize-tsm binary not found under /opt/tableau/tableau_server/packages"
  when: initialize_tsm_bin.matched == 0

- name: Initialize Tableau Server
  become: true
  command: >
    {{ initialize_tsm_bin.files[0].path }}
    --accepteula
    --admin-user {{ tableau_admin_user }}
    --admin-password {{ tableau_admin_password }}
  args:
    creates: /var/opt/tableau/tableau_server/.initialized


- name: Start Tableau Server
  command: tsm start
