- name: Copy Tableau Server RPM to target
  copy:
    src: "{{ tableau_rpm }}"
    dest: /tmp/{{ tableau_rpm }}
    mode: '0644'

- name: Install Tableau Server RPM
  become: true
  dnf:
    name: /tmp/{{ tableau_rpm }}
    state: present
